.container {
    width: 1200px;
    margin: 0 auto;
}


header {
    height: 100px;
    opacity: 0.8;
    background-image: url(/img/mywall.jpg);


}

main {
    background-image: url(/img/mywall.jpg);
    height: calc(100vh - 100px);
}

.pwd-section {
    width: 500px;
    border: 10px solid burlywood;
    height: 200px;
    background-color: rgba(rgb(20, 12, 12), rgb(10, 14, 10), rgb(7, 7, 8), 0.5)
}